<!DOCTYPE html>
<html>

<head>
    <title>Email Spam Classifier</title>
    <style>
        body {
            text-align: center;
        }

        button {
            color: aliceblue;
            background-color: blue;
        }
    </style>
</head>

<body>
    <h1>Email Spam Classifier</h1>
    <div>
        <form method="post" action="/predict" enctype="multipart/form-data">
            <input type="file" name="video" accept="video/*">
            <div>
                <button type="submit">Upload Video</button>
                <a href="/">Reset</a>
            </div>
        </form>

    </div>
    <div>
        {% if prediction %}
        {% if prediction == 1 %}
        <h2 style="color: red">Spam</h2>
        {% else %}
        <h2 style="color: green">Not Spam</h2>
        {% endif %}
        {% endif %}
    </div>
</body>

</html>
